
.banner {
background-color:black !important;
position: relative;
padding-top: 80px !important;
}

.banner-container  h1, h2 {
color: white;
}


.floating-post {
height: 300px;
width: 700px;
position: absolute;
border-radius: 12px !important;

}

.card-post {


}

.icon-header {
  width: 700px;
  margin: 0 auto;
  text-align: center;

}

.main-post {

}
