.modal-card-banner {
  background-color: white;
  width: 480px;
  height: 320px;
  border: 1px solid lightgrey;
  border-radius: 16px;
}

.banner-post {
height: 320px;
width: 100%;
background-size: cover;
}

.banner-post-text {
  background-color: white;
  width: 180px;
}
